<!DOCTYPE html>
<hmtl>
    <head>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="/css/style.css"> <!-- import the css-->
        <title> {% block title %}{% endblock %} </title>
    </head>
    <body>
        <div id="top_bar">
            <img src="/{{ site_config.asset_folder }}/{{ site_config.small_logo }}" width="60px"></img>
            <ul>
            {% for item, link in site_config.menu.items() %}
                <li><a href="/{{ link }}">{{ item }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>