    {% block menu %}
        <div class="navbar">
            <div class="nav-toggle">
                <div class="hamburger">
                    <div class="menu-icon-bar"></div>
                    <div class="menu-icon-bar"></div>
                    <div class="menu-icon-bar"></div>
                </div>
                <div class="menu-splash"></div>
                <div class="menu">
                        {%- for item in menu recursive %}
                            {%- if item.pages -%}
                                {% if loop.depth0 > 0 %}
                                    <div class="submenu" ><div class="menu-item submenu-item"><a href="#">{{ item.label }}</a></div>
                                {% else %}
                                    <!-- <div class="submenu-0"> -->
                                        <div class="submenu"><div class="menu-item"><a href="#">{{ item.label }}</a></div>
                                {% endif %}
                                        <div class="submenu-contents">
                                            {{ loop(item.pages) }}
                                        </div>
                                    <!-- </div> -->
                                    </div>
                            {%- else -%}
                                {% if loop.depth0 > 0 %}
                                    <a class="menu-item submenu-item" href="/{{ item.link }}">{{ item.label }}</a>
                                {% else %}
                                    <a class="menu-item" href="/{{ item.link }}">{{ item.label }}</a>
                                {% endif %}
                            {%- endif -%}
                        {%- endfor %}
                </div>
            </div>
        </div>
    {% endblock %}