:root {
    --main-bg-color: dimgray;
    --main-txt-color: lightgrey;
    --main-link-color: thistle;
    --top-bg-color: darkslategray;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}

.page {
    /* not too wide, centered */
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


a {
    color: var(--main-link-color);
    text-decoration: underline;
}

.header {
    position: sticky;
    top: 0%;
    min-width: 100%;
    background-color: var(--top-bg-color);
    color: white;
}

.menu-item > a {
    color: lightgray;
    text-decoration: none;
}

.menu-item > a:hover {
    color: white;
}

.header-content {
    /* not too wide, centered */
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.header-content > a > img {
    max-height: 50px;
    padding: 0;
}

.navbar {
    width: 100%;
    float: left;
    display: grid;
    justify-content: end;
}

.menu {
    overflow: hidden;
    /* align the menu items to the left
    but keep a gap betwen them */
    column-gap: 10px;
    justify-content: end;
    display: inline-grid;
    /* keeps the menu items in a single row */
    grid-auto-flow: column;
}

.menu-splash {
    display: none;
    background-color: var(--top-bg-color);
}

.menu-item {
    color: lightgray;
    text-decoration: none;
    padding: 5px
}


.menu-item:hover {
    color: white;
}

.hamburger {
    display: none;
}

.menu-icon-bar {
    width: 35px;
    height: 5px;
    background-color: var(--top-bg-color);
    margin: 6px 0;
}

.submenu-0 {
    /* min-width: 160px; */
    display: flex;
    /* position: fixed; */
    /* background-color: red; */
    overflow: auto;
    height: max-content;

}
.submenu {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.submenu-contents {
    /* makes sure that the submenu appears under
    the original menu entry*/
    /* width:max-content; */
    /* width: 100%; */
    background-color: var(--top-bg-color);
    float: left;
    overflow: hidden;
    display: none;
    z-index: 10;
    /* padding: 5px; */
}

.submenu:hover > .submenu-contents {
    /* on hover over the submenu class, reveals the child submenu
    underneath */
    position: fixed;
    display: grid;
}

.submenu:hover > .submenu-contents {
    /* on hover over the submenu class, reveals the child submenu
    underneath */
    padding: 0px;
    width: 150px;
    border: 5px solid var(--top-bg-color);
}

.two_col {
    display: grid;
    column-gap: 10px;
    grid-auto-flow: column;
    align-items: center;
}

.two_col > .col > p > img {
    max-width: 100%;
    height: auto;
}

.footer {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-auto-flow: column;
    column-gap: 10px;
    background-color: var(--main-bg-color);
    position: sticky;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
}


@media only screen and (max-width: 768px) {
    .page {
        margin: 10px;
    }

    .header-content {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar {
        height: 100%;
        align-content: space-around;
    }

    .nav-toggle {
        min-height: 100%;
        display: flex;
        margin: auto;
        
        /* position: absolute; */
    }

    .nav-toggle:hover > .menu-splash {
        position: fixed;
        top: 55px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        z-index: 2;
        display: block;
        opacity: 0.9;
    }

    .two_col {
        grid-auto-flow: row;
    }

    .hamburger {
        display: inline;
        z-index: 5;
    }

    .menu-icon-bar {
        background-color: white;
    }

    .menu {
        z-index: 3;
        display: none;
        grid-auto-flow: row;
        position: fixed;
        top: 100px;
        font-size: 20px;
        padding-left: 30px;
    }

    .submenu {
        z-index: 3;
        grid-auto-flow: row;
        display: grid;
        left: 0%;
        right: 0%;
        background-color: transparent;
    }

    .menu-item, .submenu-item {
        z-index: 3;
        display: block;
        text-align: left;
        position: relative;
        left: 0%;
        right: 0%;
        /* background-color: black; */
        background-color: transparent;
    }

    .nav-toggle:hover > .menu {
        background-color: transparent;
        justify-content:stretch;
        left: 0%;
        right: 0%;
        display: grid;
        grid-auto-flow: row;
        position: fixed;
    }

    .submenu:hover > .submenu-contents {
        /* on hover over the submenu class, reveals the child submenu
        underneath */
        float: none;
        left: 0%;
        right: 0%;
        display: grid;
        position: relative;
        justify-content:stretch;
        grid-auto-flow: row;
        padding-left: 50px;
        width: 100%;
        background-color: transparent;
        border: none;
    }
}